
<!DOCTYPE html>
<html>
    <a href="{% url 'home' %}">Повернутись на головну сторінку</a>
<head>
    <title>Список груп</title>
</head>
<body>
    <h1>Список груп</h1>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th>Назва</th>
                <th>Course ID</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.courseid }}</td>
                <td>
                    <a href="{% url 'group_update' pk=group.pk %}">Редагувати</a>
                    <a href="{% url 'group_delete' pk=group.pk %}">Видалити</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'group_create' %}">Додати групу</a>
</body>
</html>